</body>
<footer>
  <ul>
    <li>
      <a href= "https://www.facebook.com/aimuncc" title= "Like AIM on Facebook!">
        <img id= "soc_net" id="facebook" src= "facebook.png"/>
      </a>
    </li>
    <li>
      <a href= "https://www.linkedin.com/groups/Advancing-Innovative-Minds-8104445/about" title= "Join AIM on LinkedIn!">
        <img id= "soc_net" id="linkedin" src= "LinkedIn.png"/>
      </a>
    </li>
    <li>
      <a href= "https://twitter.com/aimuncc" title= "Follow AIM on Twitter!">
        <img id= "soc_net" id="twitter" src= "Twitter.png"/>
      </a>
    </li>
    <li>
      <a href= "http://instagram.com/uncc_aim" title= "Follow AIM on Instagram!">
        <img id= "soc_net"  id="instagram" src= "Instagram.png"/>
      </a>
    </li>
  </ul>
</footer>
