<%= render 'shared/header'%>
  <div id="involved_students">
    <div id="students_shade">&nbsp;</div>

    <div id="involved_button"><a id= "students_button" href="[[page:Students]]">Students </a></div>
  </div>

  <div id="involved_business">
    <div id="business_shade">&nbsp;</div>

    <div id="involved_button"><a id= "business_button" href="[[page:Corporatepartners]]">Businesses </a></div>
  </div>

</body>
</html>
