<%= render 'shared/header'%>
  <div id="involved_students">
    <div id="students_shade">&nbsp;</div>
    <div id="involved_button">
      <a id= "students_button"><%= link_to "Students", :controller => 'pages', :action => 'students' %></a>
    </div>
  </div>
  <div id="involved_business">
    <div id="business_shade">&nbsp;</div>
    <div id="involved_button">
      <a id= "business_button"><%= link_to "Businesses", :controller => 'pages', :action => 'businesses' %></a>
    </div>
  </div>

</body>
</html>
