<header>
  <h1>
    Why AIM?
  </h1>
  <p>
    Why not?!! AIM is on track to take Charlotte by storm this year!
  </p>
</header>
<main>
  <article>
    <ol>
      <li><p>AIM will collect the university&#39;s greatest thinkers and innovators and manifest thier ideas into business plans</p></li>
      <li><p>We will have teams setting the standard for innovation and creativity throughout all of Charlotte&#39;s entrepreneurial events and competitions.</p></li>
      <li><p>AIM continually strives to give back to the community which involves volunteer service events and pre-college outreach events</p></li>
    </ol>
    <p>AIM is currently looking for sponsors to help fund traveling expenses, publications, and competition entry fees.</p>
    <button id="corporate_button" href="https://orgsync.com/83120/files/627107/download">
  Download the 2015-2016 AIM Corporate Partnership Packet
    </button>
      <h1>Contact Us</h1>
      <p>You can contact AIM through any of our executive board members or send us an email at: <b>aimcharlotte@uncc.edu</b></p>
      <p>Feel free to connect and message any of our board members through LinkedIn!</p>
  </article>
</main>
