<%= render 'shared/header'%>
<img class="Home_Img" src="https://d1q9wbuypc40mm.cloudfront.net/lvcqx9btxa5q2lh.jpg" />
<header>
  <h2>
    Turning Creative Thinkers, Into Business Leaders
  </h2>
</header>
<main>
  <article>
    <h2>Welcome!</h2>
    <p>Advancing Innovative Minds (AIM) is UNC Charlotte&#39;s most active and dedicated entrepreneurial club.</p>
    <p>Our mission is <b>&quot;to provide visionaries with a business, technology, and networking knowledge base in a means to encourage entrepreneurial influence&quot;</b>. We plan on using the booming development of the Charlotte area as a catalyst to create truly effective ideas that will culminate into thriving businesses.</p>
    <p>You can contact AIM via email: <b>aimcharlotte@uncc.edu<b></p>
    <p>We hope you enjoy your visit to our website!</p>
  </article>
</main>
<!-- <%= render 'shared/footer'%> -->
