<main>  
  <div class="row">
    <div class="col-md-8" id="desktop_img"></div>
    <div class="col-md-4" id="home_left_div">
      <h3>
        Turning Creative Thinkers, Into Business Leaders
      </h3>
      <h4>Advancing Innovative Minds (AIM) is one of UNC Charlotte&#39;s most active and dedicated entrepreneurial clubs. Our mission is <b>&quot;to provide visionaries with a business, technology, and networking knowledge base in a means to encourage entrepreneurial influence&quot;</b></h4>
      <%= button_to "Join Now", {:controller => :guests, :action => :new}, {:method => :get } %>
    </div>
  </div>
  <section class="home_mid">
    <h2>Make a Living Doing What You Love, Creating What You Want</h2>
    <h3>Whether you have an idea for the next big start-up or are just curious about entrepreneurship and self employment, AIM is the right place to start!</h3>
    <div class= "col-md-4 col-sm-6">
      <figure>
        <%= image_tag 'parade.png', :alt => 'Parade' %>
        <figcaption>
          <h3>Join the Club</h3>
          <p>Attend our meetings and pay chapter dues to recieve a free AIM teeshirt!</p>
        </figcaption>
      </figure>
    </div>
    <div class= "col-md-4 col-sm-6">
      <figure>
        <%= image_tag 'brokaw.jpg', :alt => 'Jeff Brokaw' %>
        <figcaption>
          <h3>Test Your Idea</h3>
          <p>When attending AIM's Workshops, you'll find out if your idea is something that people will pay for before you invest your time and money into it.</p>
        </figcaption>
      </figure>
    </div>
    <div class= "col-md-4 col-sm-3">
      <figure>
        <%= image_tag 'CFL.jpg', :alt => 'Cystic Fibrosis Fundraiser' %>
        <figcaption>
          <h3>Pursue your idea with confidence</h3>
          <p>Once you've mastered AIM's prep skills we'll connect you with entrepreneurial resources that can prepare you for fundraising, legal advice and mentoring.</p>
        </figcaption>
      </figure>
    </div>
    <h4>You can contact AIM via email: <b>aimcharlotte@uncc.edu<b></h4>
  </section>
</main>
