<header>
  <h1>
    Let AIM Represent You!
  </h1>
</header>
<main>
  <article>
    <p>In all that we do, AIM promotes the entrepreneurial nature of hard work, determination, and humility. We AIM to positively influence the growth of the Charlotte region and we look forward to representing our sponsors in a positive light in all of our endeavors.</p>
    <p>As a non-profit organization with students that are highly invested on campus, AIM requires help with purchasing materials for campus programs, fundraising supplies (such as posters and tables), education materials, campus advertising supplies (to increase our membership), and especially paying for off campus leadership conferences and volunteer travel. In return, we would love to provide our partners with an immense pool of innovative thinkers among the UNCC student body. As a sponsor, your image and satisfaction is of high value to us.</p>
    <button id="corporate_button" href="https://orgsync.com/83120/files/627107/download">
  Download the 2015-2016 AIM Corporate Partnership Packet
    </button></br></br>
    <p>Please email any of our executives if you have any questions regarding our sponsorship plans</p>
  </article>
</main>
