// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  font-family: 'Open Sans', sans-serif !important;
  width: 100% !important;
}
html p {
  font-size: 14px !important;
}
header h3 {
  color: #919191 !important;
}
nav {
  background-color: #FFFFFF !important;
  border-bottom: solid 3px #65A933 !important;
  padding-bottom: 10px !important;
  color: #919191;
}
.navbar-nav li a {
  margin-top: 10px !important;
  padding-left: 7px !important;
  padding-right: 7px !important;
}
.navbar-nav li a:hover {
  color: #65A933 !important;
}
.nav_img {
  padding: 0 !important;
  margin-top: 5px;
}
.nav_img img {
  height: 48px;
}
.navbar, .navbar-default, .navbar-static-top{
  margin-bottom: 0 !important;
}
.navbar-toggle, .navbar-toggle:hover{
  background-color: #FFFFFF !important;
  border: none !important;
}
#notice {
  background-color: #65A933;
  color: #FFFFFF !important;
  width: 100%;
  text-align: center;
}
form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  font-family: 'Open Sans', sans-serif;
}
form input, textarea, select {
  border: #919191 solid 1px;
  border-radius: 5px;
}
button, .btn-submit, input[type="submit"] {
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #65A933;
  color: #FFFFFF;
}
input[value="Cancel"] {
  background-color: #919191;
  color: #FFFFFF;
}
footer {
  background-color: gray;
}
footer ul li {
  display: inline;
  padding: 0 10px 0 10px;
}
a:link
{
    text-decoration: none;
    color: #FFFFFF;
}
#mobile_img {
  padding-left: 10px !important;
  margin-top: 5px;
  height: 48px;
  display: inline !important;
  position: absolute;
}
#dropdownMenu2 {
  border-color: #65A933 !important;
  margin-top: 18px !important;
  margin-right: 10px !important;
  color: #919191;
}
/*HOME*/

.row {
  width: 100% !important;
  padding: none !important;
  margin-left: 0 !important;
  background-color: #919191 !important;
}

.row div {
  text-align: left;
  padding: 2%;
  color: white;
}
.row .button_to {
  text-align: left;
  display: inline;
}
.row h2 {
  margin-top: 0;
  padding-top: 2%;
}
#desktop_img {
  background-image: url(/images/club.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 400px;
}
.home_mid {
  background-color: #65A933;
  padding: 2% 0 2% 0;
  color: #FFFFFF;
  padding-bottom: 3%;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

.home_mid figure {
  text-align: center;
}

.home_mid figcaption {
  float: none;
  padding-top: 0;
}

.home_mid header, .home_mid p {
  color: #FFFFFF;
}

.home_mid h3 {
  text-align: center;
  padding: 2% 0 2% 0;
}

.home_mid img {
  height: 215px;
  width: 315px;
}

/*HOME*/

/*EXECUTIVE BOARD*/
@media screen and (max-width: 700px) 
{
  .news figure img, iframe {
    float: none;
    width: 100% !important;
    height: 300px !important;
  }

  .news figcaption {
    padding: 1%;
    float: none !important;
    width: 90% !important;
  }

  .news { /*All News blocks*/
    width: 90% !important;
  }
}

@media screen and (max-width: 550px) 
{
  .board_member { /*All Exec blocks*/
    width: 70% !important;
  }

  .board_member figure img {
    float: none !important;
    width: 100% !important;
    height: 100% !important;
  }
  .board_member figure figcaption {
    float: none !important;
    width: auto !important;
  }
}

section
{
    width: 100%;
}

header
{
    margin-top: 15px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    text-align: center;
    color: #66AA33;
}

header p {
  font-size: 24px;
  color: #919191;
}

main
{
    padding: -5px;
    display: inline;
    text-align: center;
}

.board_member /*All Exec blocks*/
{
    display: inline-block;
    border-radius: 3px;
    margin: 1%;
    width: 500px;
    background-color: #66AA33;
}	

.board_member figure img{
  float: left;
  width: 50%;
  height: 200px;
  width: 200px;
}

figcaption {
  float: right;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #FFFFFF;
  width: 300px;
  padding-top: 25px;
}

/*EXECUTIVE BOARD*/

/*NEWS*/

.RECESS {
  background-image: url(/images/concert.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #FFFFFF;
  padding: 0;
  height: 400px;
  margin-bottom: 15px;
}
.shade{
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  padding: 5%;
}
.news figure img, iframe {
  float: left;
  width: 50%;
  height: 300px;
  width: 375px;
}

.news figcaption {
  float: right;
  text-align: left;
  color: #FFFFFF;
  width: 250px !important;
  padding-top: 30px;
}

.news /*All News blocks*/
{
    display: inline-block;
    border-radius: 3px;
    margin: 1%;
    max-width: 650px !important;
    hieght: 300px;
    background-color: #66AA33;
}
/*NEWS*/

/*SPONSORSHIP*/
article
{
    margin-top: 3%;
    margin-bottom: 3%;
    width: 80% !important;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    padding: 20px;
    background-color: #66AA33;
}
article p, ol {
  text-align: left;
}
#corporate_button
{
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0;
  border: solid 5px #FFFFFF;
  background-color: #66AA33;
  text-align: center;
}
/*SPONSORSHIP*/

/*Mail Database */
table {
  margin-left: auto;
  margin-right: auto;
}
th, td {
  border: solid 1px #919191;
  text-decoration: none;
  padding: 5px !important;
  color: #919191 !important;
}

/*STUDENT & BUSINESSES*/

footer
{
    clear:both;
    color: #FFFFFF;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    text-align: center;
    border-top: 2px solid #919191;
    background-color: #919191;
    bottom: 0 !important;
}
footer ul {
    padding-left: 0px !important;
}
footer img {
  height: 36px;
}
